.main-content .left-content{
  float: left;
  width: 240px;
  margin-left: 0px;
}
.main-content .right-content{
  float: left;
  width: 700px;
  margin-left: 40px;
}
.box.large-box.service-box .box-content{
  padding: 20px 28px 35px;
}
.box.large-box.service-box .box-content h3{
  color: #95c530;
  border-bottom: 1px dashed #95c530;
  padding-bottom: 5px;
}
.media{
  display: table;
  width: 100%;
  margin: 20px 0px;
}
.media-left, .media-body{
  display: table-cell;
  vertical-align: top;
}
.media-left{
  padding-right: 30px;
  width: 200px;
}
.media-left img{
  border: none;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(34,50,24,0.6);
}
.media-body .service-name{
  font-size: 18px;
  padding: 8px 15px;
  color: #fff;
  background-color: #95c530;
  font-weight: bold;
}
.media-body p{
  padding: 0px 10px;
}